.pyramid-container {
    .heading {
        text-align: center;
        color: #fff;
    }
    .cover {
        width: 350px;
        margin: auto;
    }
    .st0 {
      fill: none;
    }
    path {
        cursor: pointer;
    }
}
